body {
  background-color: #AD97EF;
  display: flex;
  justify-content: center;
}

.signin-header {
  color: #fff;
  text-align: center;
}

.signin-card {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  margin: 40px;
  background-color: #fff;
  width: 384px;
  padding: 40px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.signin-card p {
  color: #000000;
  margin-left: 15px;
  font-size: 18px;
  /* border: 1px solid green; */
  width: 60px;
}

.signin-input {
  outline: none;
  font-family: CircularStd;
  font-weight: 400;
  background-color: #F2F2F2;
  color: #444444;
  height: 38px;
  width: 340px;
  border: 2px solid #FFFFFF;
  padding: 4px 0 0 20px;
  font-size: 16px;
  letter-spacing: 0.16px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.signin-card button {
  font-family: CircularStd;
  background-color: #49AB52;
  color: #fff;
  border: 0;
  padding: 10px;
  text-align: center;
  width: 342px;
  font-size: 16px;
  letter-spacing: 0.16px;
  height: 34px;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  padding: 8px 16px 8px 16px;
}

.signup {
  color: #fff;
  font-size: 16.4px;
  text-align: center;
}

.signin-error {
  color: rgba(208, 21, 46, 1);
  background-color: rgba(255, 105, 91, 0.16);
  padding: 8px;
  margin: -10px 0px 10px 10px;
  text-align: center;
  border-radius: 2px;
  width: 350px;
}