.top {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 18.5vh;
}

.note-card {
  padding: 22px;
  max-width: 900px;
  height: 100%;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  flex: 2 1 auto;
  border-bottom: 3px solid #AD97EF;

  .note-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: black;
    margin-bottom: 10px;
  }

  .description {
    font-style: normal;
    font-size: 16px;
    line-height: 27px;
    color: rgb(20, 18, 18);
  }

  hr {
    border: 0.6px solid rgb(211, 211, 211);
  }

  .card-icon-delete {
    margin-left: 360px;
    color: red;
    margin-top: 5px;
  }

  .card-icon-edit {
    margin-left: 205px;
    color: #49AB52;
  }

  .card-icon-delete:hover {
    color: rgb(160, 21, 21);
    cursor: pointer;
  }

  .card-icon-edit:hover {
    color: rgb(45, 126, 53);
    cursor: pointer;
  }
}